h1 {
  color: aliceblue;
  font-size: 40px;
  left: 10px;
  position: absolute;
}

.motto {
  top: 60px;
  left: 30px;
  position: absolute;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align:left;
  background-color: rgb(70, 101, 82);
  color: aliceblue;
}

.footer {
  position: fixed;
  right: 30px;
  top: 60px;
}

.subtitle {
  font-size: 45px;
  position: absolute;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
